In [45]:
import pandas as pd
!pip install xlrd

Requirement already satisfied: xlrd in c:\users\cevher\anaconda3\lib\site-packages (2.0.1)

In [46]:
bitkisel_üretim_il = pd.read_excel('il_bitkisel_üretim_bintTl.xls')

In [47]:
bitkisel_üretim_il.head()

,Year,Adana-1,Adıyaman-2,Afyonkarahisar-3,Aksaray-68,Amasya-5,Ankara-6,Antalya-7,Ardahan-75,Artvin-8,...,Yalova-77,Yozgat-66,Zonguldak-67,Çanakkale-17,Çankırı-18,Çorum-19,İstanbul-34,İzmir-35,Şanlıurfa-63,Şırnak-73
0,1995,54492,12657,16420,9403,12000,31490,41873,792,2551,...,2010,17040,4191,19233,5244,15424,7079,40324,29151,5130
1,1996,94961,21478,30857,18083,20784,58467,88174,1879,4937,...,4725,30793,6980,43620,9405,26749,10034,83088,62244,7960
2,1997,105753,38770,59446,42183,45866,104846,151374,3217,10252,...,9846,47617,12374,61639,19322,47819,22480,110771,115711,11623
3,1998,250851,72126,113799,77047,89045,222151,312834,5007,19460,...,14407,102122,24110,122153,33238,84055,27235,278153,228325,19712
4,1999,309290,89236,167051,93662,120464,308827,429572,6477,29775,...,19599,115365,35416,153637,35453,109122,33371,360200,280767,17508

In [48]:
elektrik_tüketim_il = pd.read_excel('il_elektrik_Mvh.xls')

In [49]:
elektrik_tüketim_il.head()

,Year,Adana-1,Adıyaman-2,Afyonkarahisar-3,Aksaray-68,Amasya-5,Ankara-6,Antalya-7,Ardahan-75,Artvin-8,...,Yalova-77,Yozgat-66,Zonguldak-67,Çanakkale-17,Çankırı-18,Çorum-19,İstanbul-34,İzmir-35,Şanlıurfa-63,Şırnak-73
0,1995,29111,17021,23944,11170,2809,13241,50247,NaN,39,...,NaN,1391,10,2385,10,2454,750,67630,250723,NaN
1,1996,16430,15952,25823,15508,2444,21203,62044,NaN,68,...,NaN,1632,112,4029,1629,3773,2080,74012,256946,NaN
2,1997,19090,14214,26573,23783,19641,30137,64142,1.0,121,...,767.0,1173,75,4454,321,4092,261821,84588,210903,6132.0
3,1998,23975,19458,30504,36444,7983,61666,81301,NaN,73,...,887.0,2932,28,3835,615,4694,576,89483,461808,1577.0
4,1999,24849,26170,33350,44110,7800,54501,77477,NaN,107,...,912.0,2301,163,10218,648,6140,1225,122437,300649,7026.0

In [50]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [51]:
df = pd.read_excel("data.xlsx", index_col="Year")
print(df.shape)
df.head()

(54, 3)

        Plant Production  Electricity Consumption   Emission
Year
1995.0         1084215.0                 37358456  44.079788
1996.0         2060734.0                 43031719  44.757268
1997.0         3553871.0                 45126184  42.505017
1998.0         7265715.0                 48100686  43.720122
1999.0         9652440.0                 46572399  44.276394

In [52]:
df.isnull().values.any()

True

In [53]:
df = df.dropna()
df.isnull().values.any()

False

In [54]:
x = df.index
y1 = df['Bitkisel Üretim']
y2 = df['Elektrik tüketimi']
y3 = df['Emisyon']

# Plot Line1 (Left Y Axis)
fig, ax1 = plt.subplots(1,1,figsize=(16,9), dpi= 80)
ax1.plot(x, y1, color='tab:red')

# Plot Line2 (Right Y Axis)
ax2 = ax1.twinx()  # instantiate a second axes that shares the same x-axis
ax2.plot(x, y2, color='tab:blue')

# ax3 = ax1.twinx()  # instantiate a second axes that shares the same x-axis
# ax3.plot(x, y3, color='tab:gray')

# Decorations
# ax1 (left Y axis)
ax1.set_xlabel('Time', fontsize=20)
ax1.tick_params(axis='x', rotation=0, labelsize=12)
ax1.set_ylabel('BJSales', color='tab:red', fontsize=20)
ax1.tick_params(axis='y', rotation=0, labelcolor='tab:red' )
ax1.grid(alpha=.4)

# ax2 (right Y axis)
ax2.set_ylabel("Plant Production", color='tab:blue', fontsize=20)
ax2.tick_params(axis='y', labelcolor='tab:blue')
ax2.set_xticks(np.arange(0, len(x), 60))
ax2.set_xticklabels(x[::60], rotation=90, fontdict={'fontsize':10})
ax2.set_title("Visualizing Leading Indicator", fontsize=22)
# ax3.set_xticklabels(x[::60], rotation=90, fontdict={'fontsize':10})
# ax3.set_title("Visualizing Leading Indicator", fontsize=22)
fig.tight_layout()
plt.show()

KeyError: 'Bitkisel Üretim'

In [55]:
from statsmodels.tsa.stattools import grangercausalitytests

In [56]:
maxlag = 7
test   = 'ssr_chi2test'

In [57]:
def grangers_causation_matrix(data, variables, test='ssr_chi2test', verbose=False):    
    """Check Granger Causality of all possible combinations of the Time series.
    The rows are the response variable, columns are predictors. The values in the table 
    are the P-Values. P-Values lesser than the significance level (0.05), implies 
    the Null Hypothesis that the coefficients of the corresponding past values is 
    zero, that is, the X does not cause Y can be rejected.

    data      : pandas dataframe containing the time series variables
    variables : list containing names of the time series variables.
    """
    df = pd.DataFrame(np.zeros((len(variables), len(variables))), columns=variables, index=variables)
    for c in df.columns:
        for r in df.index:
            test_result = grangercausalitytests(data[[r, c]], maxlag=maxlag, verbose=False)
            p_values = [round(test_result[i+1][0][test][1],4) for i in range(maxlag)]
            if verbose: print(f'Y = {r}, X = {c}, P Values = {p_values}')
            min_p_value = np.min(p_values)
            df.loc[r, c] = min_p_value
    df.columns = [var + '_x' for var in variables]
    df.index = [var + '_y' for var in variables]
    return df

In [58]:
grangers_causation_matrix(df, variables=df.columns)

,Plant Production_x,Electricity Consumption_x,Emission_x
Plant Production_y,1.0,0.0,0.0041
Electricity Consumption_y,0.0,1.0,0.0000
Emission_y,0.0,0.0,1.0000

Assuming a significance level of 0.05, if the p-value is lesser than 0.05, then we do NOT reject the null hypothesis that X does NOT granger cause Y.

So, in the above table, the p-value for X=Bjsales_lead and Y=BJSales is 0.0. So we reject the null hypothesis and conclude that X (BJSales_Lead) granger causes Y (BJSales).

That means, BJSales_lead will likely be helpful in predicting the BJSales, which confirms what we saw in the dual times series chart earlier.

Assuming a significance level of 0.05, if the p-value is lesser than 0.05, then we do NOT reject the null hypothesis that X does NOT granger cause Y.

So, in the above table, the p-value for X=Bjsales_lead and Y=BJSales is 0.0. So we reject the null hypothesis and conclude that X (BJSales_Lead) granger causes Y (BJSales).

That means, BJSales_lead will likely be helpful in predicting the BJSales, which confirms what we saw in the dual times series chart earlier.